@mixin selectors {
    .grid {
        display: grid;
        margin-top: 0.7em;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3em;
        row-gap: 0.7em;
        font-size: 90%;

        .iconed-summary {
            display: flex;
            gap: 0.4em;

            .icon-more {
                display: flex;
                flex-direction: column;
                justify-content: center;

                svg [data-icon] {
                    width: 1.5em;
                    color: green;
                    font-size: x-large;
                }
                a {
                    height: 100%;
                    border: 0;
                }

                img {
                    height: 100%;
                }
            }

            .titled-summary {
                .title {
                    display: block;
                    font-size: 130%;
                    margin-top: 0;
                    margin-bottom: .3em;
                }
                .summary {
                    line-height: 1.2;

                    .read-more {
                        font-size: 70%;
                    }
                }
            }
        }
    }
}

@mixin bulleted-selectors {
    @include selectors;

    .grid {
        display: block;
        font-size: 90%;

        .iconed-summary {
            margin-bottom: 1em;

            .titled-summary {
                .title {
                    margin-bottom: .1em;
                }
            }
        }
    }
}

@mixin _base {
    .gridded-iconed-summaries {
        @include selectors;
    }
}

@mixin _bulleted {
    .gridded-iconed-summaries {
        @include bulleted-selectors;

        flex: 0 0 auto;
    }
}

@mixin infinite {
    @include _base;
}

@mixin wide {
    @include _base;
}

@mixin normal {
    @include _base;
}

@mixin narrow {
    @include _base;
}

@mixin narrower {
    @include _bulleted;
}

@mixin mobile {
    @include _bulleted;
}

@mixin mobilep {
    @include _bulleted;
}
