@use 'gridded-iconed-summaries';

@mixin _base {
    .left-right-alternating-iconed-summaries {
        @include gridded-iconed-summaries.selectors;

        margin-top: 2em;
        margin-bottom: 2em;

        .grid {
            .iconed-summary {
                margin-top: -1em;
                margin-bottom: -1em;
            }
        }
    }
}

@mixin _smaller {
    .left-right-alternating-iconed-summaries {
        @include gridded-iconed-summaries.bulleted-selectors;

        margin-top: 0;

        .grid {
            .iconed-summary {
                margin-top: 0;
                margin-bottom: .7em;
            }
        }
    }
}

@mixin infinite {
    @include _base;
}

@mixin wide {
    @include _base;
}

@mixin normal {
    @include _base;
}

@mixin narrow {
    @include _base;
}

@mixin narrower {
    @include _smaller;
}

@mixin mobile {
    @include _smaller;
}

@mixin mobilep {
    @include _smaller;
}

