---
import ForwardListItem from '@components/ForwardListItem.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Plxtra" mainHeading="An open source trading platform">
	<main>
        <ul>
            <ForwardListItem href='./features/'>For Exchange or Brokerage operations</ForwardListItem>
            <ForwardListItem href='./features/'>Fully featured</ForwardListItem>
            <ForwardListItem href='./features/'>Highly extensible</ForwardListItem>
            <ForwardListItem href='./features/'>Detail documentation</ForwardListItem>
            <ForwardListItem href='./features/'>Well designed architecture</ForwardListItem>
            <ForwardListItem href='./features/'>C# back-end, Typescript front-end</ForwardListItem>
            <ForwardListItem href='./features/'>Web, mobile and excel clients</ForwardListItem>
            <ForwardListItem href='./features/'>Permissive licence (MIT)</ForwardListItem>
            <ForwardListItem href='./features/'>Commercial support available</ForwardListItem>
            <ForwardListItem href='./features/'>Easy install and deploy (using Docker)</ForwardListItem>
        </ul>

        Load full exchange on your computer to test it out.
        <button>Install now</button>


	</main>
</BaseLayout>

<style lang="scss">
    @use '@adornments/unordered-list';

    main {
        @include unordered-list.collapse-narrow;
    }

</style>
