---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Plxtra" mainHeading="An open source trading platform">
	<main>
        <ul>
            <li>For Exchange or Brokerage operations</li>
            <li>Fully featured</li>
            <li>Highly extensible</li>
            <li>Detail documentation</li>
            <li>Well designed architecture</li>
            <li>C# back-end, Typescript front-end</li>
            <li>Web, mobile and excel clients</li>
            <li>Permissive licence (MIT)</li>
            <li>Commercial support available</li>
            <li>Easy install and deploy (using Docker)</li>
        </ul>

        Load full exchange on your computer to test it out.
        <button>Install now</button>


	</main>
</BaseLayout>
