<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Plxtra</title>
    </head>
    <body>
        <main>
            <h1>Plxtra</h1>

            <h2>Under construction</h2>

            <p>Coming soon</p>
        </main>
    </body>
</html>

<style>
    html {
        background-color: #f1f5f9;
        color: black;
        font-family: sans-serif;
        font-size: calc(15px + 0.390625vw);
    }

    * {
        box-sizing: border-box;
    }

    h1 {
        margin: 1rem 0;
        font-size: 2rem;
        line-height: 1.1;
    }

    h2 {
        margin: 1rem 0;
        font-size: 1.5rem;
    }

    body {
        margin: 0;
        padding: 0;
    }

    main {
        max-width: 30ch;
        margin: 0 auto;
    }
</style>
