---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
    fontSize?: string;
}

const { fontSize, ...attrs } = Astro.props;
---

<a {...attrs}>
    <slot />
</a>

<style define:vars={{
    "a-font-size": fontSize,
}}>
    a {
        font-size: var(--a-font-size);
    }
</style>
