---
import { type MenuItemDefinition, Hamburger, MainMenu, DefaultSettings, type MainMenuSettings } from '@pbkware/astro-main-menu';
import { Icon } from 'astro-icon/components';

const menuItemDefinitions: MenuItemDefinition[] = [
    {
        text: 'Solutions',
        url: '/solutions/',
        children: [
            { text: 'Specialised exchanges', url: '/solutions/specialised-exchanges/' },
            { text: 'Brokerage trading', url: '/solutions/brokerage-trading/' },
            { text: 'Market development acceleration', url: '/solutions/market-development-acceleration/' },
            { text: 'Trading components', url: '/solutions/trading-components/' },
            { text: 'Sustainability credits', url: '/solutions/sustainability-credits/' },
        ],
    },
    {
        text: 'Documentation',
        url: '/getting-started/',
        children: [
            { text: 'Getting Started', url: '/getting-started/'},
            { text: 'Using', url: '/using/'},
            { text: 'Configuration', url: '/configuration/'},
            { text: 'Architecture', url: '/architecture/'},
            { text: 'External APIs', url: '/external-api/'},
            { text: 'Extensibility', url: '/extensibility/'},
            { text: 'Working with source', url: '/source/'},
            { text: 'Deploy', url: '/deploy/'},
        ]
    },
    {
        text: 'About',
        url: '/',
        title: 'About',
        children: [
            { text: 'Home', url: '/' },
            { text: 'Features', url: '/features/' },
            { text: 'Contact', url: '/contact/' },
        ],
    },
    { text: 'News', url: '/news/' },
];

const mainMenuSettings: MainMenuSettings = {
    // ...DefaultSettings.mainMenuSettings,
    wideMainMenuFontSize: '0.95em',
}
---

<nav class="navbar">
    <div class="navbar-narrow-left">
        <Icon name="plxtra-logo" id="navbar-narrow-left-icon" />
    </div>

    <div class="navbar-wide-left">
        <a href="/">
            <Icon name="plxtra-logo" id="navbar-wide-left-icon" />
        </a>
        <a href="/">
            <span id="logoOrgName">Plxtra</span>
        </a>
    </div>

    <div class="wide-under-construction">
        <span>Under construction</span>
    </div>

    <MainMenu id="main-menu" settings={mainMenuSettings}, menuItemDefinitions={menuItemDefinitions} />

    <div class="narrow-heading">
        <span>Under construction</span>
        <!-- <slot name="narrow-heading" /> -->
    </div>

    <div class="navbar-wide-right">
        <Hamburger settings={DefaultSettings.hamburgerSettings} />
    </div>
</nav>

<style lang="scss" define:vars={{
    hamburgerWidth: DefaultSettings.hamburgerSettings.width,
}}>
    @use '@scss/breakpoint';

    .navbar {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .narrow-heading {
            display: none;
        }

        > .navbar-narrow-left {
            width: var(--hamburgerWidth, 1.8em);
            display: none;

            > #navbar-narrow-left-icon {
                height: 1.3lh;
            }
        }

        > .navbar-wide-left {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            gap: .5em;

            > a {
                > #navbar-wide-left-icon {
                    height: 1.3lh;
                }
            }
            > a, a:visited, a:active, a:hover {
                text-decoration-line: none !important;
                color: inherit;
                > #logoOrgName {
                    font-size: 1.5em;
                    font-weight: bold;
                }
            }
        }

        > #main-menu {
            @include breakpoint.createMainMenuConfigWideBreakpoint {
                margin-right: 1em;
            }
        }

        > .navbar-wide-right {
            display: none;
            align-items: center;
            flex: 0 0 auto;
        }

        @include breakpoint.createMainMenuConfigNarrowBreakpoint {
            > .wide-under-construction {
                display: none;
            }

            > .narrow-heading {
                display: flex;
                align-items: center;
            }

            > .navbar-narrow-left {
                display: flex;
                align-items: center;
            }

            > .navbar-wide-left {
                display: none;
            }

            > .navbar-wide-right {
                display: flex;
                width: var(--hamburgerWidth, 1.8em);
            }
        }
    }
</style>

<script>
    import { MenuClickProcessor } from '@pbkware/astro-main-menu';
    const processor = MenuClickProcessor.get(); // This always needs to be called however only need processor if want to handle dataClick event

    // Hide narrow menu and hamburger if document is clicked outside menu
    document.addEventListener('click', (event) => {
        const target = event.target;
        if (target === null || !processor.isClickHandledEventTarget(target)) {
            processor.deactivateNarrow();
        }
    });
</script>
